@font-face {
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
   
    src: url("../Fonts/TTLakes/TTLakes-Regular.woff") format(woff), 
        url("../Fonts/TTLakes/TTLakes-Regular.ttf") format(ttf),
        url("../Fonts/TTLakes/TTLakes-Regular.eof") format(eof);
   
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 700;
    font-style: bold;
    
    src: url("../Fonts/TTLakes/TTLakes-DemiBold.woff") format(woff), 
        url("../Fonts/TTLakes/TTLakes-DemiBold.ttf") format(ttf),
        url("../Fonts/TTLakes/TTLakes-DemiBold.eof") format(eof);
    
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 500;
    
    src: url("../Fonts/TTLakes/TTLakes-Medium.woff") format(woff), 
        url("../Fonts/TTLakes/TTLakes-Medium.ttf") format(ttf),
        url("../Fonts/TTLakes/TTLakes-Medium.eof") format(eof);
    
}

* {
    box-sizing: border-box;
}

.page {
    margin: 0;
    padding: 0;
    width: 100%;
}

.brands {
    margin: 0;
    padding: 0;

    padding-bottom: 1px;

    background-color: #F8F8F8;
}

.brands__header {
    margin: 0;
    padding: 15px 12px;

    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    vertical-align: middle;
    color: #7E7E82;

    background-image: linear-gradient(to right, #F8F8F8 0%, #ffffff 100%);
}

.brands__slider {
    width: 100%; 
    height: 135px;
    
}
.swiper-slide {
    padding: 20px 10px;
}
.brands__menu {
    margin: 0;
    padding: 20px 10px;

    display: none;
    flex-direction: column;
    flex-wrap: wrap;  
    height: 200px;
    align-content: space-evenly;
   
    gap: 20px;

    list-style: none;
    
    min-width: 0;
}

.brands__menu--state-big {
    height: 300px;
}

.brands__card {
    display: flex;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    
    padding: 10px 15px;
    
    width: 100%;
    min-width: min-content;
    
    max-height: 72px;
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
}

.brands__link-image {
    margin-left: 15px;
}

.brands__button-show {
    border: none;
    background-color: #F8F8F8;
    background-image: url('../icons/expand.svg');
    background-repeat: no-repeat;

    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: end;

    width: 133px;
    height: 24px;

    margin-left: 20px;
    margin-bottom: 20px;

    display: none;
}

.brands__button-show--state-button-hide {
    background-image: url('../icons/expand-reverse.svg');
    width: 90px;
}

.brands__button-show:hover {
    cursor: pointer;

    font-weight: 700;
} 

.brands__link:hover {
    opacity: 0.4;
    transition-duration: 0.8s;
}

@media (min-width: 768px) {
    .brands__slider {
        display: none;
    }

    .brands__menu {
      display: flex;
      align-content: space-evenly;
    }

    .brands__menu--state-big {
        height: 400px;
    }
    
    .brands__card {
        width: 240px;
    }

    .brands__card--state-768, .brands__card--state-1119 {
        display: none;
    }

    .brands__button-show {
        display: block;
    }

}

@media (min-width: 1119px) {
    .brands__menu {
        display: flex;
        align-content: space-evenly;
    }

    .brands__menu--state-big {
        height: 300px;
    }
    
    .brands__card--state-1119 {
        display: none;
    }

    .brands__card--state-768 {
        display: flex;
    }

    .brands__button-show {
        display: block;
    }

}